@use '../foundation/setting/index' as *;
@use '../foundation/variable/index' as *;
@use 'sass:math';

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  .copy {
    text-align: center;
  }
}
