---
import '../../../src/css/index.scss';
const { imagePath } = Astro.props;
---

<header class="l-header">
  <a href="/"><img src={`${imagePath}favicon.svg`} alt="Favicon" /></a>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>

<style lang="scss">
.l-header {
  display: flex;
  width: 1000px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  // position: fixed;
  // left: 0;
  // right: 0;
  a {
    display: block;
    mix-blend-mode: difference;
    img {
      width: 60px;
      height: auto;
    }
  }
  nav {
    ul {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
</style>

